{% extends "common/base.html" %}
{% block content %}
    <h1>Baskets</h1>
    <div class="row row-cols-auto g-4">
        {% for basket in baskets %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Basket #{{ basket.id }}</h5>
                        <p class="card-text">
                            {{ basket.items.count }} items<br>
                            {{ basket.price_display }}<br>
                            {{ basket.payment_method }}
                        </p>
                        {% if perms.purchase.change_basket %}
                            <a href="{% url "purchase:update" basket.id %}" class="btn btn-sm btn-primary">Edit</a>
                        {% endif %}
                        {% if perms.purchase.delete_basket %}
                            <a href="{% url "purchase:delete" basket.id %}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
