{% extends "common/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags purchase %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "purchase/css/basket_form.css" %}">
{% endblock %}
{% block content %}
    {% if object %}
        <h1>{{ object }} <span class="badge bg-secondary">{{ object.price|currency }}</span></h1>
        <p class="metadata">
            {{ object.created_at }}
        </p>
        {% if not object.payment_method %}
            <div class="alert alert-danger" role="alert">{% translate "Missing payment method." %}</div>
        {% endif %}
    {% else %}
        <h1>{% translate "New basket" %}</h1>
    {% endif %}
    {% crispy form %}
    {% if object %}
        <a href="{% url "purchase:new" %}" class="btn btn-secondary">{% translate "New" %}</a>
    {% endif %}
{% endblock %}
