{% extends "common/base.html" %}
{% load purchase %}

{% block content %}
    <h1>Reports</h1>
    <h2>General</h2>
    <ul>
        <li>Total turnover: {{ total|currency }}</li>
        <li>Average basket: {{ average_basket|currency }}</li>
    </ul>

    <h2>Products</h2>
    {% include "purchase/snippets/report_products.html" %}

    <h2>Turnover by payment method</h2>
    {% include "purchase/snippets/report_payment_methods.html" %}

    <h2>Baskets without payment method</h2>
    {% include "purchase/snippets/report_no_payment_method.html" %}

{% endblock %}
