{% load i18n %}
{% load purchase %}

<table class="table table-hover table-sm">
    <thead><tr>
        <th scope="col">{% translate "Payment method" %}</th>
        <th scope="col">{% translate "# baskets" %}</th>
        <th scope="col">{% translate "Turnover" %}</th>
    </tr></thead>
    <tbody>
        {% for payment_method in payment_methods %}
            <tr>
                <th scope="row">{{ payment_method }}</th>
                <td>{{ payment_method.sold }}</td>
                <td>{{ payment_method.turnover|currency }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
