{% load purchase %}

<table class="table table-hover table-sm">
    <thead><tr>
        <th scope="col">Payment method</th>
        <th scope="col"># baskets</th>
        <th scope="col">Turnover</th>
    </tr></thead>
    <tbody>
        {% for payment_method in payment_methods %}
            <tr>
                <th scope="row">{{ payment_method }}</th>
                <td>{{ payment_method.sold }}</td>
                <td>{{ payment_method.turnover|currency }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
