{% load i18n %}
{% load purchase %}

<table class="table table-hover table-sm">
    <thead><tr>
        <th scope="col">{% translate "Product" %}</th>
        <th scope="col">{% translate "# sold" %}</th>
        <th scope="col">{% translate "Turnover" %}</th>
    </tr></thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product }}</th>
                <td>{{ product.sold }}</td>
                <td>{{ product.turnover|currency }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
