{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout</title>
        <link href="{% static "vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css" %}"
              rel="stylesheet">
        {% include "common/favicon.html" %}
        <style>
            body {
                margin-bottom: 2em;
                touch-action: manipulation;
            }
        </style>
        <script defer src="{% static "vendor/fontawesome-6.3.0-free/brands.min.js" %}"></script>
        <script defer src="{% static "vendor/fontawesome-6.3.0-free/solid.min.js" %}"></script>
        <script defer src="{% static "vendor/fontawesome-6.3.0-free/fontawesome.min.js" %}"></script>

        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include "common/navbar.html" %}
            {% include "common/messages.html" %}
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static "vendor/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js" %}"></script>
        {% block extrascript %}
        {% endblock %}
    </body>
</html>
