PYTHONUNBUFFERED=1
DJANGO_SETTINGS_MODULE=checkout.settings
ADMINS="Gabriel Augendre|gabriel@augendre.info"
MAILGUN_API_KEY=API_KEY_HERE
MAILGUN_SENDER_DOMAIN=mg.gabnotes.org
HOSTS=192.168.0.1,192.168.0.2
